---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Phantom Epoch Companion</title>
  </head>
  <body>
    <div id="app-root">
      <slot />
    </div>
  </body>
</html>
